.container-nav{
    position: fixed;
    z-index: 1000;
    .nav{
        max-width:75px;
        width: 100%;
        height: 757px;
        background-color:$color02;
        padding: 20px;
        border-radius: 0 25px 25px 0;
        transition: all 0.5s;
        &:hover{
            max-width: 220px;
            .home .text-nav{
                @extend%hover-text;
            }
            .news .text-nav{
                @extend%hover-text;
            }
            .contact .text-nav{
                @extend%hover-text;
            }
            .map .text-nav{
                @extend%hover-text;
            }
        }

        .home{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
        .news{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
        .contact{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
        .map{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
    }
}

// start section 01
.container01{
    max-width: 1100px;
    width: 100%;
    background-color:#C81103;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px;
    @media(max-width:1530px){
        max-width: 851px;
        width: 100%;
    }
    .content{
        .space{
            max-width: 1000px;
            height: 260px;
            @media(max-width:650px){
                height: 140px;
            }
        }
        position: relative;
        @include d-flex(column, center, center);
        .title-wrap{
            position: absolute;
            width:400px;
            top:-255px;
            left:50%;
            translate:-50%;
            @media(max-width:650px){
                width: 190px;
                top:-134px;
            }
            .title-01{
                text-align: center;
                font-size: 80px;
                color: #FFF731;
                font-family: 'Busorama';
                @media(max-width:650px){
                    font-size: 40px;
                }
            }
        }
        .films{
            display: flex;
            flex-direction: column;
            .film-container03, .film-container04{
                .film-08-resp, .film-07-resp{
                    @media(max-width:650px){
                        margin-top: 20px;
                    }
                }
            }
            .film-container03{
                @media(max-width:650px){
                    margin-bottom: 0;
                }
            }
            .film-container01, .film-container02, .film-container03, .film-container04{
                @extend%film-container;
                @media(max-width:650px){
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                &:nth-child(3){
                    @media(min-width:900px){
                        display: none;
                    }
                }
                &:nth-child(4){
                    @media(min-width:700px){
                        display: none;
                    }
                }
            }
                .empty{
                    max-width: 200px;
                    width: 100%;
                    @media(max-width:700px){
                        display: none;
                    }
                }
                .film-03-resp-2{
                    @media(max-width:900px){
                        display: block;
                    }
                    display: none;
                    @extend%film;
                    .img{
                        @extend%img;
                    }
                    p{
                        @extend%p;
                    }
                    .link-film{
                        @extend%link-film;
                    }
                }
                .film-03-resp, .film-04-resp, .film-07-resp, .film-08-resp{
                    
                    &:nth-child(4){
                        @media(max-width:650px){
                            margin-bottom: 20px;
                        }
                    }
                    &:nth-child(3){
                        @media(max-width:900px){
                            display: none;
                        }
                    }
                    &:nth-child(1){
                        @media(max-width:900px){
                            display: none;
                        }
                        
                    }
                    @extend%film;
                    .img{
                        @extend%img;
                    }
                    p{
                        @extend%p;
                    }
                    .link-film{
                        @extend%link-film;
                    }
                }
                .film-01, .film-02, .film-03, .film-04, .film-05, .film-06, .film-07, .film-08{
                    &:nth-child(2){
                        @media(max-width:650px){
                            margin-top: 20px;
                        }
                    }
                    &:nth-child(4){
                        @media(max-width:900px){
                            display: none;
                        }
                    }
                    &:nth-child(3){
                        @media(max-width:700px){
                            display: none;
                        }
                    }
                    @extend%film;
                    @include d-flex(flex, center, center);
                    flex-direction: column;
                    .img{
                        @extend%img;
                    }
                    p{
                        @extend%p;
                    }
                    .link-film{
                        max-width: 100px;
                        width: 100%;
                        .watch-butt{
                            width: 100%;
                            background-color: #000;
                            color: #fff;
                            border-style: none;
                            border-radius: 25px;
                            height: 30px;
                            font-family: 'Busorama';
                            font-size: 25px;
                            &:hover{
                                background-color: #fff;
                                color: #C81103;
                        }
                    }
                }
                
            }
        }

    }
}