.container-nav{
    position: fixed;
    z-index: 1000;
    .nav{
        max-width:75px;
        width: 100%;
        height: 757px;
        background-color:$color02;
        padding: 20px;
        border-radius: 0 25px 25px 0;
        transition: all 0.5s;
        &:hover{
            max-width: 220px;
            .home .text-nav{
                @extend%hover-text;
            }
            .news .text-nav{
                @extend%hover-text;
            }
            .contact .text-nav{
                @extend%hover-text;
            }
            .map .text-nav{
                @extend%hover-text;
            }
        }

        .home{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
        .news{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
        .contact{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
        .map{
            @include d-flex(flex, flex-start, center);
            margin-bottom: 30px;
            .icone-nav{
                @extend%icone-nav;
            }
            .text-nav{
                @extend%text-nav;
            }
        }
    }
}

// start section 01
.container01{
    max-width: 1100px;
    width: 100%;
    background-color:#C81103;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px;
    .content{
        .space{
            max-width: 1000px;
            height: 260px;
        }
        position: relative;
        @include d-flex(column, center, center);
        .title-wrap{
            position: absolute;
            width:400px;
            top:-255px;
            left:50%;
            translate:-50%;
            .title-01{
                text-align: center;
                font-size: 80px;
                color: #FFF731;
                font-family: 'Busorama';
            }
        }
        .films{
            display: flex;
            flex-direction: column;
            .film-container01{
                display: flex;
                justify-content: space-around;
                margin-bottom: 20px;
            }
            .film{
                background-color: #FFF731;
                max-width:200px;
                width: 100%;
                padding: 15px;
                border-radius: 25px;
                
                @include d-flex(flex, center, center);
                flex-direction: column;
                .img{
                    border-radius:25px;
                    width: 150px;
                    height: 300px;
                    margin-bottom: 20px;
                }
                p{
                    text-align: center;
                    font-family: 'Anton';
                    width: 100%;
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                .link-film{
                    max-width: 100px;
                    width: 100%;
                    .watch-butt{
                        width: 100%;
                        background-color: #000;
                        color: #fff;
                        border-style: none;
                        border-radius: 25px;
                        height: 30px;
                        font-family: 'Busorama';
                        font-size: 25px;
                        &:hover{
                            background-color: #fff;
                            color: #C81103;

                        }
                    }
                }
            }
        }

    }
}